#preloader 
{
background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/b6e0b072897469.5bf6e79950d23.gif');
  background-size: contain;
  height:100vh;
  width:100%;
  position:fixed;
  z-index:100;
}
